---
import { getCollection } from 'astro:content';
import  Layout from "@layouts/Layout.astro";

// Sadece 'Published' olanları çek ve tarihe göre sırala
const allPosts = await getCollection('blog', ({ data }) => {
  return data.properties.Status === 'Published';
});
const sortedPosts = allPosts.sort((a, b) => (b.data.properties.Date?.start?.valueOf() ?? 0) - (a.data.properties.Date?.start?.valueOf() ?? 0));
---
<Layout>
	<h1>Blog Yazıları</h1>
	<ul>
	  {sortedPosts.map(post => (
		<li>
			<div style="display: flex;">
				<div><img src={`${post.data.properties.Cover}`} alt={`${post.data.properties.Name}`} /></div>
				<a href={`/blog/${post.data.properties.Slug}`}>
					<h2>{post.data.properties.Name}</h2>
					<p>{post.data.properties.Summary}</p>
					<time>{post.data.properties.Date?.start?.toLocaleDateString()}</time>
				</a>
			</div>
		</li>
	  ))}
	</ul>
</Layout>